{% extends "_base/_page-nav.twig" %}

{% block page_title __('Config Validator') %}
{% block page_nav 'Settings/Extensions' %}


{% block page_main %}
    <p><a href="" class="btn btn-primary">Check again</a></p>
{% endblock %}